.Logo_Logo__qKBB8 {
    display: flex;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center
}

.Logo_Logo__text__3VLK_ {
    font-weight: 900;
    font-size: 2.1rem;
    color: #000;
    margin-left: 6px !important
}

.StepLayout_wrapper__b_fZa {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: medium
}

.StepLayout_wrapper__b_fZa h1 {
    letter-spacing: .2px;
    line-height: 100%;
    margin: 0
}

.StepLayout_wrapper__b_fZa h2 {
    font-weight: 400;
    letter-spacing: .2px;
    font-size: 1em
}

@media only screen and (max-width:767px) {
    .StepLayout_wrapper__b_fZa h2 {
        font-size: 1em
    }
}

.StepLayout_logoBox__CjlsN {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.StepLayout_logoBox__CjlsN>div {
    transform: scale(2);
    justify-content: center
}

@media only screen and (max-width:767px) {
    .StepLayout_logoBox__CjlsN>div {
        transform: none;
        width: auto;
        height: auto
    }
}

.StepLayout_Button__GRNxp {
    outline: none;
    transition: all .2s ease-in;
    min-height: 20px;
    padding: 10px 60px;
    background: #0741b8;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
    border-radius: 100px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .03em
}

.StepLayout_Button__GRNxp:hover {
    background: #0a07b8;
    cursor: pointer
}

.StepLayout_logoBox__CjlsN {
    display: flex;
    justify-content: center;
    flex-direction: column;
}